<section>
  <h2>Trend comparison</h2>
  <img src="images/trend-comparison.png"/>
  <p><a href="http://www.google.de/trends/explore#q=angularjs%20%2B%20angular.js%2C%20emberjs%20%2B%20ember.js%2C%20backbonejs%20%2B%20backbone.js%2C%20knockoutjs%20%2B%20knockout.jsr&cmpt=q" target="_blank">Google Trends</a></p>
</section>

<section>
  <h2>The Father</h2>
    <p>2009</p>
    <img src="images/misko_hevery.jpg" class="circle"/>
    <p><strong>Miško Hevery</strong></p>
    <img src="images/angularjs-logo-2009.png"/>
    <p>Google 20% project</p>
</section>

<section>
  <h2>Beginnings</h2>
  <img src="images/google-feedback.png"/>
</section>

<section>
  <h2>Principles</h2>
  <img src="images/principles.png"/>
</section>


<section>
  <h2>Directives</h2>
  <img src="images/directives.png"/>
</section>
