---
title: Hands on AngularJS
---

<section>
  <h1>Hands on AngularJS</h1>
  <h3> by
    <a href="https://twitter.com/roobijn" target="_blank">@roobijn</a>
    and
    <a href="https://twitter.com/sascha_brink" target="_blank">@sascha_brink</a>
  </h3>

  <aside class="notes">
    Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
  </aside>
</section>


<section>
  <h2>Agenda</h2>
  <ul>
    <li>About us</li>
    <li>Quick Start</li>
    <li>Angular</li>
    <li>Hands on</li>
    <li>Overview</li>
  </ul>
</section>

<section>
  <h2>About us</h2>

  <div class="left">
    <img src="images/robin_boehm.png" class="circle"/>

    <p>
      <strong>Robin B&ouml;hm</strong>

    <p><a href="https://twitter.com/roobijn" target="_blank">@roobijn</a></p>
    </p>


    <ul>
      <li>software engineer</li>
      <li>consultant</li>
      <li>author at
        <a href="https://twitter.com/dpunkt_verlag" target="_blank">@dpunkt_verlag</a>

      </li>
    </ul>
  </div>

  <div class="right">
    <img src="images/sascha_brink.jpeg" class="circle"/>
    <p>
      <strong>Sascha Brink</strong>
      <p>
        <a href="https://twitter.com/sascha_brink" target="_blank">@sascha_brink</a>
      </p>
    </p>

    <ul>
      <li>software engineer</li>
      <li>consultant</li>
      <li>author</li>
    </ul>
  </div>

  <div class="clear"></div>

</section>

<section ng-init="used=0;know=0;never_heard=0">


  <h2>Quick-Start</h2>

  <div style="margin-bottom:60px">How many of you ... AngularJS</div>

  <div class="left">
    <div class="left">

      <input type="number" ng-model="used" style="border-radius:10px;height:30px"/>
      <span style="vertical-align: middle;">used</span>
    </div>
    <div class="clear"></div>

    <div class="left">
      <input ng-model="know" type="number" style="border-radius:10px;height:30px"/>
      <span style="vertical-align: middle;">know</span>
    </div>
    <div class="clear"></div>

    <div class="left">
      <input ng-model="never_heard" type="number" style="border-radius:10px;height:30px"/>
      <span style="vertical-align: middle;">never heard about</span>
    </div>
  </div>



  <div class="right">

        <div class="poll poll1" style="height: {{used / (used + know + never_heard) * 5}}em;">
          <span ng-show="used">{{used}}</span>
        </div>
        <div class="poll poll2" style="height: {{know / (used + know + never_heard) * 5}}em;">
          <span ng-show="know">{{know}}</span>
        </div>
        <div class="poll poll3" style="height: {{never_heard / (used + know + never_heard) * 5}}em;">
          <span ng-show="never_heard">{{never_heard}}</span>
        </div>
  </div>

  <div class="clear"></div>

<div>
Sum: {{used + know + never_heard}}
</div>

</section>


<section>


  <h2>Simple</h2>

  <pre>
    <code>
      &lt;section ng-init="used=0;know=0;never_heard=0"&gt;
        &lt;input ng-model="used"/&gt;
        &lt;input ng-model="know"/&gt;
        &lt;input ng-model="never_heard"/&gt;
        Sum: {{used + know + never_heard}&shy;}

      &lt;div class="poll poll1"
              style="height: {{used / (used + know + never_heard) * 5}&shy;}em;"&gt;

      &lt;/section&gt;

    </code>
   </pre>

</section>

<section>
  <h2>The Father</h2>
    <p>2009</p>
    <img src="images/misko_hevery.jpg" class="circle"/>
    <p><strong>Miško Hevery</strong></p>
    <img src="images/angularjs-logo-2009.png"/>
    <p>Google 20% project</p>
</section>

<section>
  <h2>Beginnings</h2>
  <img src="images/google-feedback.png"/>
</section>

<section>
  <h2>Principles</h2>
  <img src="images/principles.png"/>
</section>

<section>
  <h2>Hands on!</h2>
</section>

<section>
  <h2>Overview</h2>
  <img src="images/overview.svg"/>
</section>


<section>
<h2>Hands on!</h2>
</section>


<section>
  <h1>Thanks!</h1>
</section>


<section>
  <h2>About us - Angularjs.de</h2>

  <div class="left">
    <a href="http://angularjs.de">
      <img src="images/angularjsde-logo.png"/>
    </a>
  </div>

  <div class="right">
    <div class="person left">
      <div>Sascha</div><div>Brink</div>
      <img src="images/sascha_brink.jpeg" class="circle"/>
      <div><a href="https://twitter.com/sascha_brink">@sascha_brink</a></div>
    </div>

    <div class="person  left">
      <div>Philipp</div><div>Tarasiewicz</div>
      <img src="images/philipp_tarasiewicz.jpeg" class="circle" style="margin-left: 10px"/>
      <div><a href="https://twitter.com/justphilmusic">@justphilmusic</a></div>
    </div>

    <div class="person left">
      <div>Robin</div><div>B&ouml;hm</div>
      <img src="images/robin_boehm.png" class="circle"/>
      <div><a href="https://twitter.com/roobijn">@roobijn</a></div>
    </div>

  </div>
    <div class="clear"></div>

    <p></p>

    <div class="left">
    <ul>
        <li>
            book
        </li>
        <li>
            articles
        </li>
        <li>
            developer directory
        </li>
        <li>
            Twitter <a href="http://twitter.com/angularjs_de">@angularjs_de</a>
        </li>
        <li>
            Google+ & Facebook <strong>AngularJS Deutschland</strong>
        </li>
    </ul>
    </div>

    <div class="clear"></div>
</section>

<section>
  <h1>Thanks!</h1>
</section>
