<section>
    <h2>About Me</h2>

    <img src="images/robin_boehm.png" class="circle"/>

    <p>
        <strong>Robin Böhm</strong>

    <p><a href="https://twitter.com/roobijn" target="_blank">@roobijn</a></p>
    </p>
    <ul>
        <li>software engineer</li>
        <li>coach & consultant</li>
        <li>author at
            <a href="https://twitter.com/dpunkt_verlag" target="_blank">@dpunkt_verlag</a>
        </li>
    </ul>

</section>