<section>
    <section>
        <h2>Leap Motion</h2>
    </section>

    <section>
        <h2>Leap Motion</h2>
        <img src="images/leap-box.jpg"/>
    </section>

    <section>
        <h2>Leap Motion</h2>
        <img src="images/leap-motion-1.jpg"/>
    </section>


    <section>
        <h2>Leap Motion</h2>
        <img src="images/leap-hands.jpg"/>
    </section>

    <section>
        <h2>Leap Motion</h2>
        <img src="images/leap-motion-game.png"/>
    </section>

    <section>
        <a href="http://js.leapmotion.com/">LeapJS API</a>
    </section>
</section>

<section>
    <img src="images/w00t.jpg"/>
</section>

<section>
    <h2>Already solved - Reveal.js Plugin</h2>
        <a href="https://github.com/hakimel/reveal.js/pull/554">GitHub PR merged</a>
</section>

<section>
    <h2>Now make this reusable for other Applications...</h2>
</section>

<section>
    <h2>Angular + Leap</h2>
</section>

<section>
    <h2>Directives</h2>
    <ul>
        <li>Easy to use</li>
        <li>Reusable components</li>
    </ul>
</section>

<section>
    <h2>Dreamcode...</h2>
</section>

<section>
    <h3>leap-swipe-left="slideleft()"</h3>
</section>

<section>
    <h3>leap-screen-tap="used=used+1"</h3>
</section>

<section>
    <h2>Real Code...</h2>
</section>

<section>
    <h2>Directives</h2>
    <pre ng-non-bindable>
        <code>
<input type="number" ng-model="used" leap-screen-tap="used=used+1">
        </code>
    </pre>
</section>


<section>
    <h2>Control Reveal with Leap Directives...</h2>
</section>


<section>
    <h2>Implementation</h2>
    <pre ng-non-bindable>

$scope.left = Reveal.left;
$scope.right = Reveal.right;</code>
    </pre>
    <pre ng-non-bindable>
        <code class="html">
<div    class="reveal"

        leap-swipe-left="left()"
        leap-swipe-right="right()">
            <div class="slides">
                ...
            </div>
</div>
        </code></pre>
</section>

<section>
    <h2>Angular Leap at GitHub</h2>
    <img src="images/angular-leap-github.png"/>
    <a href="https://github.com/angular-leap/angular-leap">https://github.com/angular-leap/angular-leap</a>
</section>
