<section>
    <h2>Building our own Directives?</h2>
</section>

<section>
    <h2>Building our own Directives!</h2>
</section>

<section>
    <h2>What useful to build?</h2>
</section>

<section>
    <h2>leap-swipe-*</h2>
</section>

<section>
    <h2>leap-swipe-left</h2>
    <h2>leap-swipe-right</h2>
    <h2>leap-swipe-up</h2>
    <h2>leap-swipe-down</h2>
</section>


<section>
    <h2>Using it</h2>
    <pre>
        <code ng-non-bindable>
            <div leap-swipe-left="name='swipe left'"></div>
            <div leap-swipe-right="name='swipe right'"></div>
        </code>
    </pre>
</section>

<section>
    <h2>Using it</h2>
    <pre>
        <code ng-non-bindable>
            <div leap-swipe-left="executeSomeFunction()"></div>
        </code>
    </pre>
</section>

