<section>
  <h2>About us - Angularjs.de</h2>

  <div class="left">
    <a href="http://angularjs.de" target="_blank">
      <img src="images/angularjsde-logo.png"/>
    </a>
  </div>

  <div class="right">
    <div class="person left">
      <div>Sascha</div><div>Brink</div>
      <img src="images/sascha_brink.jpeg" class="circle"/>
      <div><a href="https://twitter.com/sascha_brink">@sascha_brink</a></div>
    </div>

    <div class="person  left">
      <div>Philipp</div><div>Tarasiewicz</div>
      <img src="images/philipp_tarasiewicz.jpeg" class="circle" style="margin-left: 10px"/>
      <div><a href="https://twitter.com/justphilmusic">@justphilmusic</a></div>
    </div>

    <div class="person left">
      <div>Robin</div><div>B&ouml;hm</div>
      <img src="images/robin_boehm.png" class="circle"/>
      <div><a href="https://twitter.com/roobijn">@roobijn</a></div>
    </div>

  </div>
    <div class="clear"></div>
    <p></p>
    <div class="left">
    <ul>
      <li>Book (work in progress)</li>
      <li>In-House Consulting & Coaching</li>
      <li>Workshops</li>
      <li>Twitter <a href="http://twitter.com/angularjs_de">@angularjs_de</a></li>
      <li>Google+ & Facebook <strong>AngularJS Deutschland</strong></li>
      <li><a href="http://angularjs.de" target="_blank">AngularJS.de</a></li>
    </ul>
    </div>
    <div class="clear"></div>
</section>