<section>
    <h2>GoInstant</h2>
</section>

<section>
    <h2>GoAngular</h2>
</section>


<section>
    <h2>real-time controller synchronization</h2>
    <h3>via WebSocket</h3>
</section>

<section>
    <img src="images/w00t.jpg"/>
</section>