<section>
    <h2>GoInstant</h2>
    <ul>
        <li>Platform</li>
        <li>real-time, multi-user applications.</li>
    </ul>
</section>

<section>
    <h2>GoAngular</h2>
        real-time controller synchronization
</section>

<section>
    <h2>Controller Sync</h2>
    <img src="images/goangular-controller.gif"/>
</section>

<section>
    <h2>Okay...let's try</h2>
</section>

<section>
    <img src="images/w00t.jpg"/>
</section>