<section>
    <h2>The Story...</h2>
</section>

<section>
    <h2>The Story?</h2>
</section>

<section>
    <h2>The Story!</h2>
</section>

<section>
  <h2>The Father</h2>
    <p>2009</p>
    <img src="images/misko_hevery.jpg" class="circle"/>
    <p><strong>Miško Hevery</strong></p>
    <img src="images/angularjs-logo-2009.png"/>
    <li>For web developers</li>
    <li>Google 20% project</li>
</section>

<section>
    <h2>Beginnings</h2>
    <img src="images/google-feedback-logo.png"/>
</section>

<section>
  <h2>Beginnings</h2>
  <img src="images/google-feedback.png"/>
</section>

<section>
  <h2>Principles</h2>
  <img src="images/principles.png"/>
</section>

