<section ng-controller="syncScope" ng-init="used=0;know=0;never_heard=0">
    <h2>Quick-Start</h2>

    <div>How many of you ... AngularJS</div>
    <div style="margin-bottom:60px">Leap: use key-tap and screen-tap gestures</div>

    <div class="left">
        <div class="left">
            <input type="number" ng-model="used" leap-screen-tap="used=used+1">
            <span>already use</span>
        </div>
        <div class="clear"></div>

        <div class="left">
            <input ng-model="know" type="number"  leap-key-tap="know=know+1">
            <span>know</span>
        </div>
        <div class="clear"></div>

        <div class="left">
            <input ng-model="never_heard" type="number">
            <span>never heard about</span>
        </div>
    </div>

    <div class="right">
        <div class="poll poll1" style="height: {{used / (used + know + never_heard) * 5}}em;">
            <span ng-show="used">{{used}}</span>
        </div>
        <div class="poll poll2" style="height: {{know / (used + know + never_heard) * 5}}em;">
            <span ng-show="know">{{know}}</span>
        </div>
        <div class="poll poll3" style="height: {{never_heard / (used + know + never_heard) * 5}}em;">
            <span ng-show="never_heard">{{never_heard}}</span>
        </div>
    </div>

    <div class="clear"></div>

    <div class="left">
        <br>
        <p ng-show="used + know + never_heard">Sum: {{used + know + never_heard}}</p>
    </div>
</section>