<section>
    <h2>fully extensible</h2>
</section>

<section>
    <h2>extraordinarily expressive, readable</h2>
</section>

<section>
    <h2>quick to develop</h2>
</section>

<section>
    <h2>Reusable Components</h2>
</section>

<section>
    <h2>Embeddable</h2>
</section>

<section>
    <h2>Injectable</h2>
</section>

<section>
    <h2>Testable</h2>
</section>











