---
title: Hands on AngularJS
---

<section>
  <h1>Hands on AngularJS</h1>
  <h3> by
    <div><a href="https://twitter.com/roobijn" target="_blank">@roobijn</a></div>
  </h3>

  <aside class="notes">
    Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
  </aside>
</section>

<%= partial 'about_robin' %>


<%= partial 'aboutangularjsde' %>


<%= partial 'directives2leap' %>


<%= partial 'goAngular' %>

<section>
    <h1>Thanks!</h1>
    <img src="images/robin_boehm.png" class="circle"/>
    <p>
        <strong>Robin Böhm</strong>
    <p><a href="https://twitter.com/roobijn" target="_blank">@roobijn</a></p>
</section>
