body{
    margin: 20px;
}

aside{
    width: 150px;
    height: 300px;
    border: 1px solid black;
    float:left;
}

article{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    float: left;
}
footer{
    width: 650px;
    height: 100px;
    border: 1px solid black;
    clear: both;
}

