<section>
    <h2>JavaScript History</h2>

    <p></p>
    <ul>
        <li>1995</li>
        <li>Brendan Eich</li>
        <li>NetScape</li>
    </ul>
    <p>

    <div>
        <img src="images/220px-BEich.jpg"/>
        <img src="images/260px-Netscape_Logo.svg.png" alt=""/>
    </div>
    </p>
</section>

<section>
    <h2>JavaScript History</h2>
    <ul>
        <li>Java != JavaScript</li>
        <li>Marketing</li>
        <li>ECMA Script</li>
    </ul>
</section>


<section>
    <h2>JavaScript History</h2>
    <p>
        Make it control almost everything in Netscape.
    </p>
</section>

