<section>
    <h2>Trend comparison</h2>
    <img src="images/trend-comparison.png"/>

    <p>
        <a href="http://www.google.de/trends/explore#q=angularjs%20%2B%20angular.js%2C%20emberjs%20%2B%20ember.js%2C%20backbonejs%20%2B%20backbone.js%2C%20knockoutjs%20%2B%20knockout.jsr&cmpt=q" target="_blank">Google
            Trends</a></p>
</section>
