<section>
  <h2>Directives</h2>

  <ul>
    <li>Extend HTML</li>
    <li>Tags and attributes</li>
  </ul>
</section>

<section>
  <h2>Directive examples</h2>
  <img src="images/directives.png"/>
</section>
