<section>
    <section><h2>About Angularjs</h2>
        <ul>
            <li>JavaScript framework</li>
            <li>Single Page Application</li>
            <li>by Google</li>
            <li>Open Source</li>
            <li>Designed for Testing</li>
            <li>MVVM/MVW</li>
        </ul>
    </section>

</section>