<section>
  <h2>About Angularjs</h2>
  <ul>
    <li>JavaScript framework</li>
    <li>Single Page Application</li>
    <li>by Google</li>
    <li>Open Source</li>
    <li>MVC/MVW</li>
    <li>Designed for Testing</li>
    <li>Opinionated</li>
  </ul>
</section>