<section>
  <h2>About Angularjs</h2>
  <ul>
    <li>JS framework</li>
    <li>SPA</li>
    <li>by Google</li>
    <li>Open source</li>
    <li>MVC/MVW</li>
    <li>Testing</li>
    <li>Opinionated</li>
  </ul>
</section>