---
title: Hands on AngularJS
---

<section>
  <h1>Hands on AngularJS</h1>
  <h3> by
    <a href="https://twitter.com/roobijn" target="_blank">@roobijn</a>
    and
    <a href="https://twitter.com/sascha_brink" target="_blank">@sascha_brink</a>
  </h3>

  <aside class="notes">
    Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
  </aside>
</section>

<section>
  <h2>Agenda</h2>
  <ul>
    <li>About Us</li>
    <li>Quickstart</li>
    <li>About Angular</li>
    <li>Hands on</li>
    <li>Overview</li>
  </ul>
</section>

<section>
  <h2>About us</h2>

  <div class="left">
    <img src="images/robin_boehm.png" class="circle"/>
    <p>
      <strong>Robin Böhm</strong>
      <p><a href="https://twitter.com/roobijn" target="_blank">@roobijn</a></p>
    </p>
    <ul>
      <li>software engineer</li>
      <li>consultant</li>
      <li>author at
        <a href="https://twitter.com/dpunkt_verlag" target="_blank">@dpunkt_verlag</a>
      </li>
    </ul>
  </div>

  <div class="right">
    <img src="images/sascha_brink.jpeg" class="circle"/>
    <p>
      <strong>Sascha Brink</strong>
      <p><a href="https://twitter.com/sascha_brink" target="_blank">@sascha_brink</a></p>
    </p>
    <ul>
      <li>software engineer</li>
      <li>consultant</li>
    </ul>
  </div>

  <div class="clear"></div>
</section>

<section>
  <h2>Trend comparison</h2>
  <img src="images/trend-comparison.png"/>
  <p><a href="http://www.google.de/trends/explore#q=angularjs%20%2B%20angular.js%2C%20emberjs%20%2B%20ember.js%2C%20backbonejs%20%2B%20backbone.js%2C%20knockoutjs%20%2B%20knockout.jsr&cmpt=q" target="_blank">Google Trends</a></p>
</section>

<%= partial 'poll' %>

<%= partial 'what_is' %>

<%= partial 'history' %>

<%= partial 'directives' %>

<section>
  <h2>Hands on!</h2>
</section>

<section>
  <h2>Overview</h2>
  <img src="images/overview.svg"/>
</section>

<section>
  <h2>About us - Angularjs.de</h2>

  <div class="left">
    <a href="http://angularjs.de" target="_blank">
      <img src="images/angularjsde-logo.png"/>
    </a>
  </div>

  <div class="right">
    <div class="person left">
      <div>Sascha</div><div>Brink</div>
      <img src="images/sascha_brink.jpeg" class="circle"/>
      <div><a href="https://twitter.com/sascha_brink">@sascha_brink</a></div>
    </div>

    <div class="person  left">
      <div>Philipp</div><div>Tarasiewicz</div>
      <img src="images/philipp_tarasiewicz.jpeg" class="circle" style="margin-left: 10px"/>
      <div><a href="https://twitter.com/justphilmusic">@justphilmusic</a></div>
    </div>

    <div class="person left">
      <div>Robin</div><div>B&ouml;hm</div>
      <img src="images/robin_boehm.png" class="circle"/>
      <div><a href="https://twitter.com/roobijn">@roobijn</a></div>
    </div>

  </div>
    <div class="clear"></div>
    <p></p>
    <div class="left">
    <ul>
      <li>book (work in progress)</li>
      <li>articles</li>
      <li>developer directory</li>
      <li>Twitter <a href="http://twitter.com/angularjs_de">@angularjs_de</a></li>
      <li>Google+ & Facebook <strong>AngularJS Deutschland</strong></li>
      <li><a href="http://angularjs.de" target="_blank">AngularJS.de</a></li>
    </ul>
    </div>
    <div class="clear"></div>
</section>

<section>
  <h1>Thanks!</h1>
</section>
