<!doctype html>
<html ng-app="leap">
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title><%= data.page.title %></title>

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag "reveal.min.css", "theme/default.css", "shame.css" %>


  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
    document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->

</head>
<body>
  <div class="reveal">
      <h1 ng-bind="header"></h1>
      <style>
          div.headline{
              position: absolute;
              top: 0;
              opacity: 0.7;
              font-size: 0.5em;
          }

          div.headline.left{
              left:1em;
          }
          div.headline.right{
              right:1em;
          }
      </style>
      <div class="headline right">@roobijn</div>
      <div class="headline left">Robin B&ouml;hm</div>
    <div class="slides" leapSwipeLeft="header='leap'">
      <%= yield %>
  </div>
  </div>

  <%= javascript_include_tag "angular.min.js",
                             "/lib/js/head.min.js",
                             "reveal.min.js",
                             "angular-leap.js",
                             "leap.min.js",
                             "shameleap.js" %>

  <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      // Optional libraries used to extend on reveal.js
      dependencies: [
        { src: 'classList.js', condition: function() { return !document.body.classList; } },
        { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
        { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
        { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
        // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
      ]
    });
  </script>
</body>
</html>