<section>
    <section>
        <h2> History Web-Technologie</h2>
    </section>
    <section>
        <h2>Web?</h2>
    </section>
    <section>
        <h2>Web?</h2>

        <p>a system of interlinked hypertext documents

        <div>accessed via the Internet
        </div>
        </p>
    </section>
    <section>
        <h2>Web-Technologies?</h2>
    </section>

    <section>
        <img src="images/Netscape_Navigator.png" alt=""/>
    </section>

    <section>
        <h3>1995 - JavaScript was born</h3>
    </section>

    <%= partial 'javascript_history' %>

    <section>
        <h3>Beginning of the Web 2.0</h3>

        <p>
            Static Pages -> Dynamic Pages
        </p>
    </section>

    <section>
        <h2>Document Object Model</h2>
        <ul>
            <li>Representation</li>
            <li>Manipulation</li>
        </ul>
    </section>

    <section>
        <h2>
            <img src="images/jQuery-Logo_On_Dark.png" alt=""/>
        </h2>
    </section>

    <section>
        <h2>jQuery</h2>
        <ul>
            <li>Great abstraction for DOM API</li>
            <li>Events</li>
            <li>Animations</li>
            <li>THE BASIC OF MODERN WEB</li>
        </ul>
    </section>

    <section>
        <h2>Start building WebApps</h2>

        <p>Improve static Websites</p>
        <ul>
            <li>jQuery</li>
            <li>Animations</li>
            <li>Async Data</li>
        </ul>
    </section>


    <section>
        <h2>Single Page Application</h2>
        <ul>
            <li>First Request load the App</li>
            <li>No Request/Response Roundtrip</li>
            <li>Load Data on Demand</li>
            <li>Manipulate DOM</li>
        </ul>
    </section>

    <section>
        <h2>
            <img src="images/backbone.png" style="background-color: white   " alt=""/>
        </h2>
        <ul>
            <li>simple structure</li>
            <li>Models</li>
            <li>Collections</li>
            <li>Really basic structure</li>
        </ul>
    </section>


    <section>
        <h2>HTML5,CSS3,HTTP</h2>
        <ul>
            <li>More Events</li>
            <li>Touch-Devices</li>
            <li>WebSockets</li>
            <li>Animations via GPU</li>
        </ul>
    </section>

    <section>
        <h2>Frameworks</h2>
        <img src="images/angularjs_small.png" alt=""/>
        <img src="images/canjs.png" alt=""/>
        <img src="images/ember.png" alt=""/>
    </section>

</section>